.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.form-element{
  padding: 15px;
}


.flex-container {
  display: flex;
  width: 100%;
  justify-content: center;
}
